body {
    background-color:beige;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 3%;
    font-size: 105%
}

.chart1{
    text-align: center;
}